<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458423937438-8a4883b2i7gs955u3a2ri30hvoqb52vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458423937438-8a4883b2i7gs955u3a2ri30hvoqb52vs</string>
	<key>API_KEY</key>
	<string>AIzaSyAHGCNDA1UzEQJWWm9o15mdG3J5IJ7sEVo</string>
	<key>GCM_SENDER_ID</key>
	<string>458423937438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberMobile</string>
	<key>PROJECT_ID</key>
	<string>uber-d6b8d</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-d6b8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458423937438:ios:5276d91fdc2e0a00dbce8f</string>
</dict>
</plist>